<html>
    <head>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>

        {% if random %}
            <link rel='stylesheet' type='text/css' href='/css/main.css?t={% print(random) %}'>
            <script type='text/javascript' src='/js/login_handler.js?t={% print(random) %}'></script>
            <script type='text/javascript' src='/js/shirt.js?t={% print(random) %}'></script>
            <script type='text/javascript' src='/js/shirt_tools.js?t={% print(random) %}'></script>
            <script type='text/javascript' src='/js/profile.js?t={% print(random) %}'></script>
            <script type='text/javascript' src='/js/yn_cookies.js?t={% print(random) %}'></script>
        {% else %}
            <link rel='stylesheet' type='text/css' href='/css/main.css'>
            <script type='text/javascript' src='/js/login_handler.js'></script>
            <script type='text/javascript' src='/js/shirt.js'></script>   
            <script type='text/javascript' src='/js/shirt_tools.js'></script>   
            <script type='text/javascript' src='/js/profile.js'></script>   
            <script type='text/javascript' src='/js/yn_cookies.js'></script>         
        {% endif %}
    </head>

    <body>
        <div id='menu_options'></div>
        <div id='shirt_out' style='margin-top: 20px;'></div>
        <div style='color: red' id='error'></div>
        <select id='style' onchange='update_style()'>
            <option value='solid'>Solid</option>
            <option value='solid_arms'>Solid (Arm Ornament)</option>
            <option value='stripes'>Stripes</option>
            <option value='hoops'>Hoops</option>
        </select>
        <br>
        Primary: <input id='primary' type='color'><br>
        Secondary: <input id='secondary' type='color'><br>
        <button onclick='save_shirt()'>Save</button>
        
    </body>
</html>