<html>
    <head>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
        <script type='text/javascript' src='/js/login_handler.js'></script>
        <script type='text/javascript' src='/js/yn_cookies.js'></script>

    {% if random %}
        <link rel='stylesheet' type='text/css' href='/css/main.css?t={% print(random) %}'>
        <script type='text/javascript' src='/js/admin.js?t={% print(random) %}'></script>
        <script type='text/javascript' src='/js/profile.js?t={% print(random) %}'></script>
    {% else %}
        <link rel='stylesheet' type='text/css' href='/css/main.css'>
        <script type='text/javascript' src='/js/admin.js'></script> 
        <script type='text/javascript' src='/js/profile.js'></script>        
    {% endif %}
        <script>
            window.page_type = "main_admin";
        </script>
    </head>
    <body>
        <div id='menu_options'></div>
        <h1><div id='firstname'></div></h1>
        <div id='error' style='color:red'></div>
        <div id='stats'>
            <!-- User statistics -->
        </div>

        <div id='league_data'>

        </div>

        <div id='logged_in_only'>
            <button onclick='add_a_league()'>Add a league</button>  
            <button onclick='add_a_club()'>Add a Club/Player</button>
        </div>
    </body>
</html>