<html>
    <head>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>

        {% if random %}
            <link rel='stylesheet' type='text/css' href='/css/main.css?t={% print(random) %}'>
            <script type='text/javascript' src='/js/login_handler.js?t={% print(random) %}'></script>
            <script type='text/javascript' src='/js/division.js?t={% print(random) %}'></script>
            <script type='text/javascript' src='/js/profile.js?t={% print(random) %}'></script>
            <script type='text/javascript' src='/js/yn_cookies.js?t={% print(random) %}'></script>
        {% else %}
            <link rel='stylesheet' type='text/css' href='/css/main.css'>
            <script type='text/javascript' src='/js/login_handler.js'></script>
            <script type='text/javascript' src='/js/division.js'></script>   
            <script type='text/javascript' src='/js/profile.js'></script>   
            <script type='text/javascript' src='/js/yn_cookies.js'></script>         
        {% endif %}
    </head>

    <body>
        <div id='menu_options'></div>
        <h1 id='division_name'></h1>
        <h2 id='division_description'></h2>
        <div style='color: red' id='error'></div>
        {% if div_id %}
            <div id='club_output'>
                Loading...
            </div>

            <script>
                window.division_id = "{% print(div_id) %}";
            </script>
        {% else %}
            <div style='color: red'>
                <h1>Unknown Divison Id</h1>
            </div>
        {% endif %}
        
    </body>
</html>