<html>
    <head>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>

        {% if random %}
            <link rel='stylesheet' type='text/css' href='/css/main.css?t={% print(random) %}'>
            <script type='text/javascript' src='/js/login_handler.js?t={% print(random) %}'></script>
            <script type='text/javascript' src='/js/match_detail.js?t={% print(random) %}'></script>
            <script type='text/javascript' src='/js/shirt_tools.js?t={% print(random) %}'></script>
            <script type='text/javascript' src='/js/profile.js?t={% print(random) %}'></script>
            <script type='text/javascript' src='/js/yn_cookies.js?t={% print(random) %}'></script>
        {% else %}
            <link rel='stylesheet' type='text/css' href='/css/main.css'>
            <script type='text/javascript' src='/js/login_handler.js'></script>
            <script type='text/javascript' src='/js/match_detail.js'></script>  
            <script type='text/javascript' src='/js/shirt_tools.js'></script>   
            <script type='text/javascript' src='/js/profile.js'></script>   
            <script type='text/javascript' src='/js/yn_cookies.js'></script>         
        {% endif %}
    </head>

    <body>
        <div id='menu_options'></div>
        <h1 id=''>Match Breakdown</h1>
        <div style='color: red' id='error'></div>
        
        <div id='match_output'>
            Loading...
        </div>

        <script>
            window.yn_match_id = {% print(matchid) %};
        </script>
        
    </body>
</html>