<html>
    <head>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>

        {% if random %}
            <link rel='stylesheet' type='text/css' href='/css/main.css?t={% print(random) %}'>
            <script type='text/javascript' src='/js/login_handler.js?t={% print(random) %}'></script>
            <script type='text/javascript' src='/js/player.js?t={% print(random) %}'></script>
            <script type='text/javascript' src='/js/profile.js?t={% print(random) %}'></script>
            <script type='text/javascript' src='/js/yn_cookies.js?t={% print(random) %}'></script>
        {% else %}
            <link rel='stylesheet' type='text/css' href='/css/main.css'>
            <script type='text/javascript' src='/js/login_handler.js'></script>
            <script type='text/javascript' src='/js/player.js'></script>   
            <script type='text/javascript' src='/js/profile.js'></script>   
            <script type='text/javascript' src='/js/yn_cookies.js'></script>         
        {% endif %}
    </head>

    <body>
        <div id='menu_options'></div>
        
        <div style='color: red' id='error'></div>
        {% if player_id %}
            <h1 id='player_name'></h1>
            <h3 id='player_height'></h3>
            <h3 id='player_shirt_number'></h3>
            <h3 id='player_club'></h3>
            <h3 id='player_shirt_color'></h3>
            <h3 id='player_position'></h3>

            <script>
                window.player_id = "{% print(player_id) %}";
            </script>
        {% else %}
            <div style='color: red'>
                <h1>Unknown Player Id</h1>
            </div>
        {% endif %}
        
    </body>
</html>